
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(122, 133, 174, 0.7),rgba(73, 81, 110, 0.7)),url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 90px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 20px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #8C8C8C;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 70px;
}

.text-box p {
    margin: 10 px 0 40px;
    font-size: 20px;
    color: #fff;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600px;
}


.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(122, 133, 174, 0.7),rgba(73, 81, 110, 0.7)),url(images/smth.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 75px;
}

.about-author {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: left;

}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
